<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="event.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Events</title>
  </head>
  <body>
    <section class="nav">
      <nav class="navbar">
        <div class="container navbar-container">
          <input type="checkbox" name="" id="" />
          <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
          </div>
          <ul class="menu-items">
            <li type="none"><a href="#showcase">Home</a></li>
            <li type="none"><a href="#trending-events">Trending Events</a></li>
            <li type="none"><a href="#your">Your Events</a></li>
            <li type="none"><a href="#about">About Us</a></li>
          </ul>
          <button class="btn login-btn">Admin</button>
          <img src="./images/logo.png" alt="logo" width="40" height="40" />
          <h1 class="logo">KK EVENTS.ORG</h1>
        </div>
      </nav>
    </section>
    <section class="sports">
      <p class="header">Sports</p>

      <div class="sport_eve">
        <h1 style="color: white">BOX CRICKET TOURNAMENT</h1>
        <img src="./images/cricket.jpg" alt="cricket" />
        <p class="info">
          DATE - 10/10/22 <br>
          VENUE - Trophy Fighters<br />
          FEES - 300<span>&#8377;</span>
        </p>
        <button class="reg">Register Now</button>
      </div>
      <div class="sport_eve">
        <h1 style="color: white">BOX CRICKET TOURNAMENT</h1>
        <img src="./images/cricket.jpg" alt="cricket" />
        <p class="info">
          DATE - 10/10/22 <br>
          VENUE - Trophy Fighters<br />
          FEES - 300<span>&#8377;</span>
        </p>
        <button class="reg">Register Now</button>
      </div>
      <div class="sport_eve">
        <h1 style="color: white">BOX CRICKET TOURNAMENT</h1>
        <img src="./images/cricket.jpg" alt="cricket" />
        <p class="info">
          DATE - 10/10/22 <br>
          VENUE - Trophy Fighters<br />
          FEES - 300<span>&#8377;</span>
        </p>
        <button class="reg">Register Now</button>
      </div>
      <div class="sport_eve">
        <h1 style="color: white">BOX CRICKET TOURNAMENT</h1>
        <img src="./images/cricket.jpg" alt="cricket" />
        <p class="info">
          DATE - 10/10/22 <br>
          VENUE - Trophy Fighters<br />
          FEES - 300<span>&#8377;</span>
        </p>
        <button class="reg">Register Now</button>
      </div>
      <div class="sport_eve">
        <h1 style="color: white">BOX CRICKET TOURNAMENT</h1>
        <img src="./images/cricket.jpg" alt="cricket" />
        <p class="info">
          DATE - 10/10/22 <br>
          VENUE - Trophy Fighters<br />
          FEES - 300<span>&#8377;</span>
        </p>
        <button class="reg">Register Now</button>
      </div>
      <div class="sport_eve">
        <h1 style="color: white">BOX CRICKET TOURNAMENT</h1>
        <img src="./images/cricket.jpg" alt="cricket" />
        <p class="info">
          DATE - 10/10/22 <br>
          VENUE - Trophy Fighters<br />
          FEES - 300<span>&#8377;</span>
        </p>
        <button class="reg">Register Now</button>
      </div>
      <div class="sport_eve">
        <h1 style="color: white">BOX CRICKET TOURNAMENT</h1>
        <img src="./images/cricket.jpg" alt="cricket" />
        <p class="info">
          DATE - 10/10/22 <br>
          VENUE - Trophy Fighters<br />
          FEES - 300<span>&#8377;</span>
        </p>
        <button class="reg">Register Now</button>
      </div>
    </section>

    <section class="dm">
      <p class="header">Dance and Music</p>
      <div class="sport_eve">
        <h1 style="color: white" >DJ'S EVE</h1>
        <img src="./images/dm.jpg" alt="cricket" width="200px" height="150px"/>
        <p class="info">
          DATE - 11/10/22 <br>
          VENUE - Green stadium<br />
          FEES - 1000<span>&#8377;</span>
        </p>
        <button class="reg">Register Now</button>
      </div>
      <div class="sport_eve">
        <h1 style="color: white" >DJ'S EVE</h1>
        <img src="./images/dm.jpg" alt="cricket" width="200px" height="150px"/>
        <p class="info">
          DATE - 11/10/22 <br>
          VENUE - Green stadium<br />
          FEES - 1000<span>&#8377;</span>
        </p>
        <button class="reg">Register Now</button>
      </div>
      <div class="sport_eve">
        <h1 style="color: white" >DJ'S EVE</h1>
        <img src="./images/dm.jpg" alt="cricket" width="200px" height="150px"/>
        <p class="info">
          DATE - 11/10/22 <br>
          VENUE - Green stadium<br />
          FEES - 1000<span>&#8377;</span>
        </p>
        <button class="reg">Register Now</button>
      </div>
      <div class="sport_eve">
        <h1 style="color: white" >DJ'S EVE</h1>
        <img src="./images/dm.jpg" alt="cricket" width="200px" height="150px"/>
        <p class="info">
          DATE - 11/10/22 <br>
          VENUE - Green stadium<br />
          FEES - 1000<span>&#8377;</span>
        </p>
        <button class="reg">Register Now</button>
      </div>
      <div class="sport_eve">
        <h1 style="color: white" >DJ'S EVE</h1>
        <img src="./images/dm.jpg" alt="cricket" width="200px" height="150px"/>
        <p class="info">
          DATE - 11/10/22 <br>
          VENUE - Green stadium<br />
          FEES - 1000<span>&#8377;</span>
        </p>
        <button class="reg">Register Now</button>
      </div>
      
    </section>

    <section class="other">
      <p class="header">OTHER EVENTS</p>
      <div class="sport_eve">
        <h1 style="color: white" >THE GREAT MAGICIAN</h1>
        <img src="./images/other.jpg" alt="cricket" width="200px" height="200px"/>
        <p class="info">
          DATE - 12/10/22 <br>
          VENUE - VENICE THEATRE<br />
          FEES - 500<span>&#8377;</span>
        </p>
        <button class="reg">Register Now</button>
      </div>
      <div class="sport_eve">
        <h1 style="color: white" >THE GREAT MAGICIAN</h1>
        <img src="./images/other.jpg" alt="cricket" width="200px" height="200px"/>
        <p class="info">
          DATE - 12/10/22 <br>
          VENUE - VENICE THEATRE<br />
          FEES - 500<span>&#8377;</span>
        </p>
        <button class="reg">Register Now</button>
      </div>
      <div class="sport_eve">
        <h1 style="color: white" >THE GREAT MAGICIAN</h1>
        <img src="./images/other.jpg" alt="cricket" width="200px" height="200px"/>
        <p class="info">
          DATE - 12/10/22 <br>
          VENUE - VENICE THEATRE<br />
          FEES - 500<span>&#8377;</span>
        </p>
        <button class="reg">Register Now</button>
      </div>
      <div class="sport_eve">
        <h1 style="color: white" >THE GREAT MAGICIAN</h1>
        <img src="./images/other.jpg" alt="cricket" width="200px" height="200px"/>
        <p class="info">
          DATE - 12/10/22 <br>
          VENUE - VENICE THEATRE<br />
          FEES - 500<span>&#8377;</span>
        </p>
        <button class="reg">Register Now</button>
      </div>
      <div class="sport_eve">
        <h1 style="color: white" >THE GREAT MAGICIAN</h1>
        <img src="./images/other.jpg" alt="cricket" width="200px" height="200px"/>
        <p class="info">
          DATE - 12/10/22 <br>
          VENUE - VENICE THEATRE<br />
          FEES - 500<span>&#8377;</span>
        </p>
        <button class="reg">Register Now</button>
      </div>
      
    </section>
  </body>
</html>
