<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="logincss.css" />
    <title>Add User</title>
  </head>
  <body>
    <h2>Admin User</h2>
    <br />
    <div class="signup-page">
      <form id="signup-page" method="post" action="/signupadmin">
        <label><b>User Name </b> </label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="username"
          required
        />
        <br /><br />
        <label><b>password </b> </label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="password"
          required
        />
        <br /><br />
        <input type="submit" id="signup-button" value="signup" />
      </form>
    </div>
  </body>
</html>
