<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Event</title>
    <script
      language="JavaScript"
      type="text/javascript"
      src="/js/jquery-1.2.6.min.js"
    ></script>
    <script
      language="JavaScript"
      type="text/javascript"
      src="/js/jquery-ui-personalized-1.5.2.packed.js"
    ></script>
    <script
      language="JavaScript"
      type="text/javascript"
      src="/js/sprinkle.js"
    ></script>
  </head>
  <link rel="stylesheet" href="temp.css">
  <body>
    <div class="addform"> 
      <div class="heading-form"> Event Details</div>

      <div class="body-form">
        <form action="/addevent" method="post">
         
          <div id="event-name">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Event Name"/>
          </div>
          
          <div id="event-location">
            <label for="location">Venue:</label>
            <textarea name="" id="" cols="24" rows="5" placeholder="Enter location here"></textarea>
            <!-- <input type="textarea" id="location" name="location" /> -->
          </div>
       
          <div id="event-date">
            <label for="year">Date:</label>
            <input type ="date" id="year" name="year"/>
          </div>
          </div>
          <div id="take-price" style="display:contents">
            <label for="price">Charges:</label>
            <input type="text" id="price" name="price" placeholder="in rupees"/>
          </div>
          <br/>
          <div>
            <button class="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </body>

</html>
